{% extends 'app_base.html' %}

{% comment %}
Takes the following context variables on top of app_base vars:
- users: List[User]     A list of user objects and whether they represent the currently logged in user
- self:  User           The currently logged in user
- nodelete bool         Force the hiding of the delete option for all users
{% endcomment %}

{% block application_pane %}
<div class="d-flex mb-5 align-items-center">
    {# Page title #}
    <h1 class="me-auto">Users</h1>

    {# Admin controls #}
    <div id="admin_controls">
        {% if self.type == 'A' %}
            <a class="btn btn-largs btn-dark" href="{% url 'users-create' %}">
                <i class="bi bi-file-earmark-person-fill me-2"></i> Add User
            </a>
        {% endif %}
    </div>
</div>
<div class="list-group">
    {% for user in users %}
        {% include 'partials/user_list_row.html' with user=user self=self nodelete=nodelete only %}
    {% endfor %}
</div>
{% endblock application_pane %}