{% extends 'app_base.html' %}
{% comment %}

    Displays a single user information card in a confirmation dialogue.

    Takes the following context variables on top of those required by app_base:
    to_delete: CourseSection      The user to be displayed

{% endcomment %}

{% block application_pane %}
    <div class="row justify-content-center p-3">
        <div class="col-12 col-md-6 order-md-2 mb-3">
            <h2>Are you sure?</h2>
            <form method="post" class="form">
                {% csrf_token %}
                <input type="submit" value="confirm delete"
                       class="form-control btn btn-large btn-outline-danger">
            </form>
        </div>
        <div class="col-12 col-md-6 order-md-1">
            {% include 'partials/section_card.html' with section=to_delete self=self nodelete=True noextrainfo=True only %}
        </div>
    </div>
{% endblock application_pane %}
