{% comment %}
Navbar is a convenience template which takes a list or iterator of NavbarItem objects and creates a sidebar from it.
See documentation for the TAScheduler.viewsupport.navbar for more information
{% endcomment %}
<div class="container-fluid px-0 py-2">
    <div class="row">
        <div class="navbar navbar-expand-lg px-0 py-0" id="nav-links">
            <div class="container-fluid flex-column">

                <div class="w-100 d-flex">
                    <a class="navbar-brand" href="/user/{{ user_name }}" style="margin-right: auto">{{ user_name }}</a>

                    <button class="navbar-toggler h1" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapse-section">
                        <i class="bi bi-list"></i>
                    </button>

                    <a class="btn btn-primary rounded-circle h1" href="/logout"><i class="bi bi-box-arrow-left"></i></a>
                </div>

                <div class="collapse navbar-collapse w-100" id="nav-collapse-section">
                    <ul class="navbar-nav flex-column nav-pills w-100" role="navigation">
                        {% for item in navbar_items %}
                            <li class="nav-item">

                                {% if not item.get_enabled %}
                                    <a class="nav-link active disabled" aria-current="page" aria-disabled="true">
                                {% else %}
                                    <a class="nav-link" href="{{ item.get_url }}">
                                {% endif %}

                                {% if item.has_icons %}
                                    <i class="{{ item.get_icon_classes }} px-1"></i>
                                {% endif %}
                                {{ item.get_name }}</a>

                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>