{% extends 'app_base.html' %}

{#
This template should be used with the following context variables, on top of what the base template requires:
- course_name: Optional[str]
- course_id: Optional[int]
- course_code: Optional[str]
  This, if set, makes this page into one which can edit an already existing course.
#}

{% block application_pane %}

    <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">

            <form class="form-horizontal needs-validation" method="post" novalidate>
                {% csrf_token %}

                {% if course_id %}
                    <h2>Edit Course</h2>
                    <input type="number" class="form-control hidden disabled" name="course_id" value="{{ course_id }}">
                {% else %}
                    <h2>Create a Course</h2>
                {% endif %}

                <div class="mb-3">
                    <label for="course_code">course code</label>
                    <div class="input-group has-validation">

                        <input class="form-control"
                               type="text"
                               name="course_code"
                               value="{{ course_code }}"
                               autofocus
                               required pattern="[0-9]{3}">
                        <div class="input-group-text">3 digits</div>

                        <div class="invalid-feedback">The course code must be exactly 3 <em>digits</em> long</div>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="course_name">name</label>
                    <input class="form-control" type="text" name="course_name" value="{{ course_name }}" required>
                    <div class="invalid-feedback">You must provide a name for the course</div>
                </div>

                <div class="form-group">
                    <div class="btn-group">
                        <input class="btn btn-large btn-primary" type="submit" content="create">
                        <a class="btn btn-large btn-default" href="/courses">cancel</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% include 'partials/validate.html' %}
{% endblock %}