{% extends 'base.html' %}

{% comment %}
This page can be rendered with the context variables as follows:
- error: Optional[PageError] (either place USERNAME or PASSWORD) which will make the form highlight the incorrect field
{% endcomment %}

{% block content %}
<div class="row align-items-center h-100">
    <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        <!-- Login Form with Home button -->
        <form class="form needs-validation" method="post" novalidate>
            {% csrf_token %}

            <h1>Log in</h1>

            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <div class="input-group has-validation">

                    <input type="text" name="username" class="form-control {% if error and error.place_username %} is-invalid {% endif %}"
                           required pattern="[^@\s]+"
                           value="{{ prev_username }}">
                    <div class="input-group-text">@uwm.edu</div>

                    <div class="invalid-feedback">
                        {% if error and error.place_username %}
                        {{ error.error.body }}
                        {% else %}
                        You must input only the leading portion of your <em>school</em> email
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" name="password" class="form-control {% if error and error.place_password %} is-invalid {% endif %}" required minlength="8">
                <div class="invalid-feedback">
                    {% if error and error.place_password %}
                        {{ error.error.body }}
                    {% else %}
                        You must input your password<br /><small>It must be at least 8 characters</small>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 justify-content-center">
                <div class="btn-group">
                    <input class="btn btn-large btn-primary" type="submit" value="login" />
                    <a class="btn btn-large btn-default" href="/">home</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'partials/validate.html' %}
{% endblock %}