{% comment %}

Display a information card for a single Lab

Takes the following context variables:
- lab: LabSection
- self: User
- nodelete: bool        Hide the delete button even if it would normally be shown
- noassignments: bool    Hide the assignment information
- noextrainfo: bool     Hide all informaiton on the card other than that which is identifying
{% endcomment %}

<div class="card p-3" id="lab_card_{{ lab.lab_section_id }}">
    <div class="card-body">

        {# Header #}
        <div class="d-flex mb-3 align-items-center">

            {# Title #}
            <div class="me-auto">
                <h4 class="card-title me-1">{{ lab.course_section_id.course_id.course_code }} {{ lab.course_section_id.course_id.course_name }}</h4>
                <h5 class="card-title me-1">Lab: {{ lab.course_section_id.course_section_code }} - {{ lab.lab_section_code }}</h5>
            </div>

            {# Controls #}
            <div>
                <div class="btn-group">
                    {% if self.type == 'A' %}

                        {# Edit #}
                        <a class="btn btn-dark" href="{% url 'labs-edit' lab.lab_section_id %}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>

                        {% if not nodelete %}
                            {# Delete #}
                            <a class="btn btn-danger"
                               href="{% url 'labs-delete' lab.lab_section_id %}">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        {% endif %}


                    {% endif %}
                </div>
            </div>
        </div>

        {# Body #}
        {% if not noextrainfo %}
            <div class="row">

                {# Days #}
                <div class="d-flex align-items-center mb-3">
                    <h6 class="mb-0 me-3 text-nowrap">Lab days:</h6>
                    <div class="btn-group px-0">
                        {# Monay #}
                        <input type="checkbox" class="btn-check pe-none" id="M"
                                {% if lab and 'M' in lab.lab_days %}
                               checked
                                {% endif %}
                        >
                        <label for="M" class="btn btn-outline-dark pe-none">Monday</label>

                        {# Tuesday #}
                        <input type="checkbox" class="btn-check pe-none" id="T"
                                {% if lab and 'T' in lab.lab_days %}
                               checked
                                {% endif %}
                        >
                        <label for="T" class="btn btn-outline-dark pe-none">Tuesday</label>

                        {# Wednesday #}
                        <input type="checkbox" class="btn-check pe-none" id="W"
                                {% if lab and 'W' in lab.lab_days %}
                               checked
                                {% endif %}
                        >
                        <label for="W" class="btn btn-outline-dark pe-none">Wednesday</label>

                        {# Thursday #}
                        <input type="checkbox" class="btn-check pe-none" id="H"
                                {% if lab and 'H' in lab.lab_days %}
                               checked
                                {% endif %}
                        >
                        <label for="H" class="btn btn-outline-dark pe-none">Thursday</label>

                        {# Wednesday #}
                        <input type="checkbox" class="btn-check pe-none" id="F"
                                {% if lab and 'F' in lab.lab_days %}
                               checked
                                {% endif %}
                        >
                        <label for="F" class="btn btn-outline-dark pe-none">Friday</label>
                    </div>
                </div>

                {# Times #}
                <div class="col-12 col-md-6 mb-3">
                    {% if lab.lab_time != '' %}
                        <div class="d-flex align-items-center">
                            <h6 class="mb-0 me-3">Lab Times:</h6>
                            <p class="card-text">{{ lab.lab_time }}</p>
                        </div>
                    {% endif %}
                </div>

                {# Assignment #}
                <div class="col-12 col-md-6">
                    {% if not notassignments and lab.ta_id %}
                        <h6 class="card-title">TA: </h6>
                        <a href="{% url 'users-view' lab.ta_id.user_id %}">
                            {{ lab.ta_id.univ_id }}
                        </a>
                    {% endif %}
                </div>

            </div>
        {% endif %}

    </div>
</div>