{% comment %}
Displays a single LabSection object as a list row

Takes the following context variables:
- lab: LabSection
- self: User
- nodelete: bool        Force the delete button to be hidden
{% endcomment %}

<div class="list-group-item d-flex flex-sm-row align-items-sm-center">

    {# left #}
    <div class="me-sm-auto mb-3 mb-sm-0 d-flex
                flex-row flex-sm-column
                align-items-center align-items-sm-start
                justify-content-between justify-content-start">

        <h4 class="mb-0">{{ lab.section.course.code }} {{ lab.section.course.name }}</h4>
        <h5 class="mb-0">Lab: {{ lab.section.code }} - {{ lab.code }}</h5>

        {% if lab.ta %}
        <p class="mb-0">TA: {{ lab.ta.username }}</p>
        {% endif %}

    </div>

    {# right #}
    <div class="d-flex justify-content-center mb-3 mb-sm-0">
        <div class="btn-group">
            {# Information #}
            <a class="btn btn-dark" href="{% url 'labs-view' lab.id %}"><i class="bi bi-info-circle-fill"></i></a>

            {% if self.type == 'A' %}

                {# Edit #}
                <a class="btn btn-dark" href="{% url 'labs-edit' lab.id %}"><i class="bi bi-pencil-fill"></i></a>

                {% if not nodelete %}
                    {# Delete #}
                    <a class="btn btn-danger" href="{% url 'labs-delete' lab.id %}"><i class="bi bi-trash-fill"></i></a>
                {% endif %}

            {% endif %}
        </div>
    </div>
</div>